In [24]:
import pandas as pd
import sqlite3
import datetime

In [68]:
# Let's clean the data
data = sqlite3.connect("../pui_final_data/FPA_FOD_20170508.sqlite")
test = pd.read_sql_query(SELECT * FROM 'fires',data)
wf = pd.read_sql_query("SELECT FIRE_YEAR,STAT_CAUSE_DESCR,LATITUDE,LONGITUDE,STATE,DISCOVERY_DATE,FIRE_SIZE,FIPS_NAME FROM 'Fires'", data)

SyntaxError: invalid syntax (<ipython-input-68-c3735bccda18>, line 3)

In [45]:
wf['DISCOVERY_DATE'] = pd.to_datetime(wf['DISCOVERY_DATE'] - pd.Timestamp(0).to_julian_date(), unit='D')
wf['DISCOVERY_DATE']

0         2005-02-02
1         2004-05-12
2         2004-05-31
3         2004-06-28
4         2004-06-28
             ...
1880460   2015-09-26
1880461   2015-10-05
1880462   2015-05-02
1880463   2015-10-14
1880464   2015-03-14
Name: DISCOVERY_DATE, Length: 1880465, dtype: datetime64[ns]

In [46]:
wf['MONTH'] = wf['DISCOVERY_DATE'].dt.month
wf.head()

,FIRE_YEAR,STAT_CAUSE_DESCR,LATITUDE,LONGITUDE,STATE,DISCOVERY_DATE,FIRE_SIZE,FIPS_NAME,MONTH
0,2005,Miscellaneous,40.036944,-121.005833,CA,2005-02-02,0.10,Plumas,2
1,2004,Lightning,38.933056,-120.404444,CA,2004-05-12,0.25,Placer,5
2,2004,Debris Burning,38.984167,-120.735556,CA,2004-05-31,0.10,El Dorado,5
3,2004,Lightning,38.559167,-119.913333,CA,2004-06-28,0.10,Alpine,6
4,2004,Lightning,38.559167,-119.933056,CA,2004-06-28,0.10,Alpine,6

In [47]:
wf['DAY'] = wf['DISCOVERY_DATE'].dt.day
wf.head()

,FIRE_YEAR,STAT_CAUSE_DESCR,LATITUDE,LONGITUDE,STATE,DISCOVERY_DATE,FIRE_SIZE,FIPS_NAME,MONTH,DAY
0,2005,Miscellaneous,40.036944,-121.005833,CA,2005-02-02,0.10,Plumas,2,2
1,2004,Lightning,38.933056,-120.404444,CA,2004-05-12,0.25,Placer,5,12
2,2004,Debris Burning,38.984167,-120.735556,CA,2004-05-31,0.10,El Dorado,5,31
3,2004,Lightning,38.559167,-119.913333,CA,2004-06-28,0.10,Alpine,6,28
4,2004,Lightning,38.559167,-119.933056,CA,2004-06-28,0.10,Alpine,6,28

In [48]:
len(wf)

1880465

In [51]:
wf = wf[wf['STATE'] == 'CA']
wf['STATE'].unique()

array(['CA'], dtype=object)

In [57]:
wf.columns= wf.columns.str.lower()
wf.head()

,fire_year,stat_cause_descr,latitude,longitude,state,discovery_date,fire_size,fips_name,month,day
0,2005,Miscellaneous,40.036944,-121.005833,CA,2005-02-02,0.10,Plumas,2,2
1,2004,Lightning,38.933056,-120.404444,CA,2004-05-12,0.25,Placer,5,12
2,2004,Debris Burning,38.984167,-120.735556,CA,2004-05-31,0.10,El Dorado,5,31
3,2004,Lightning,38.559167,-119.913333,CA,2004-06-28,0.10,Alpine,6,28
4,2004,Lightning,38.559167,-119.933056,CA,2004-06-28,0.10,Alpine,6,28

In [63]:
wf = wf.rename(columns={"fire_year":"year","fips_name":"county","stat_cause_descr":"cause"})
wf.head()

,year,cause,latitude,longitude,state,discovery_date,fire_size,county,month,day
0,2005,Miscellaneous,40.036944,-121.005833,CA,2005-02-02,0.10,Plumas,2,2
1,2004,Lightning,38.933056,-120.404444,CA,2004-05-12,0.25,Placer,5,12
2,2004,Debris Burning,38.984167,-120.735556,CA,2004-05-31,0.10,El Dorado,5,31
3,2004,Lightning,38.559167,-119.913333,CA,2004-06-28,0.10,Alpine,6,28
4,2004,Lightning,38.559167,-119.933056,CA,2004-06-28,0.10,Alpine,6,28

In [61]:
wf.to_csv('./data/wildfre_cleaned.csv',index=False)

In [62]:
wf.describe()

,year,latitude,longitude,fire_size,month,day
count,189550.000000,189550.000000,189550.000000,189550.000000,189550.000000,189550.000000
mean,2003.118275,37.434167,-120.182292,67.242725,7.138634,15.642791
std,7.007634,2.591567,2.155615,2029.960435,2.168555,8.933794
min,1992.000000,32.537406,-124.402883,0.001000,1.000000,1.000000
25%,1997.000000,35.177688,-121.721944,0.100000,6.000000,8.000000
50%,2003.000000,37.565062,-120.530316,0.250000,7.000000,16.000000
75%,2009.000000,39.475208,-118.595503,1.000000,9.000000,23.000000
max,2015.000000,42.051667,-114.125800,315578.800000,12.000000,31.000000

In [71]:
wf['county'].isnull().sum()

133329