In [24]:
import pandas as pd
import sqlite3
import datetime

In [4]:
data = sqlite3.connect("./data/FPA_FOD_20170508.sqlite")
df = pd.read_sql_query("SELECT * FROM Fires", data)

In [5]:
df.head()

,OBJECTID,FOD_ID,FPA_ID,SOURCE_SYSTEM_TYPE,SOURCE_SYSTEM,NWCG_REPORTING_AGENCY,NWCG_REPORTING_UNIT_ID,NWCG_REPORTING_UNIT_NAME,SOURCE_REPORTING_UNIT,SOURCE_REPORTING_UNIT_NAME,...,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_CODE,OWNER_DESCR,STATE,COUNTY,FIPS_CODE,FIPS_NAME,Shape
0,1,1,FS-1418826,FED,FS-FIRESTAT,FS,USCAPNF,Plumas National Forest,0511,Plumas National Forest,...,A,40.036944,-121.005833,5.0,USFS,CA,63,063,Plumas,b'\x00\x01\xad\x10\x00\x00\xe8d\xc2\x92_@^\xc0...
1,2,2,FS-1418827,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.933056,-120.404444,5.0,USFS,CA,61,061,Placer,b'\x00\x01\xad\x10\x00\x00T\xb6\xeej\xe2\x19^\...
2,3,3,FS-1418835,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.984167,-120.735556,13.0,STATE OR PRIVATE,CA,17,017,El Dorado,b'\x00\x01\xad\x10\x00\x00\xd0\xa5\xa0W\x13/^\...
3,4,4,FS-1418845,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.559167,-119.913333,5.0,USFS,CA,3,003,Alpine,b'\x00\x01\xad\x10\x00\x00\x94\xac\xa3\rt\xfa]...
4,5,5,FS-1418847,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.559167,-119.933056,5.0,USFS,CA,3,003,Alpine,b'\x00\x01\xad\x10\x00\x00@\xe3\xaa.\xb7\xfb]\...

In [6]:
df = df[df['STATE'] == 'CA']

In [11]:
df.dtypes

OBJECTID                        int64
FOD_ID                          int64
FPA_ID                         object
SOURCE_SYSTEM_TYPE             object
SOURCE_SYSTEM                  object
NWCG_REPORTING_AGENCY          object
NWCG_REPORTING_UNIT_ID         object
NWCG_REPORTING_UNIT_NAME       object
SOURCE_REPORTING_UNIT          object
SOURCE_REPORTING_UNIT_NAME     object
LOCAL_FIRE_REPORT_ID           object
LOCAL_INCIDENT_ID              object
FIRE_CODE                      object
FIRE_NAME                      object
ICS_209_INCIDENT_NUMBER        object
ICS_209_NAME                   object
MTBS_ID                        object
MTBS_FIRE_NAME                 object
COMPLEX_NAME                   object
FIRE_YEAR                       int64
DISCOVERY_DATE                float64
DISCOVERY_DOY                   int64
DISCOVERY_TIME                 object
STAT_CAUSE_CODE               float64
STAT_CAUSE_DESCR               object
CONT_DATE                     float64
CONT_DOY                      float64
CONT_TIME                      object
FIRE_SIZE                     float64
FIRE_SIZE_CLASS                object
LATITUDE                      float64
LONGITUDE                     float64
OWNER_CODE                    float64
OWNER_DESCR                    object
STATE                          object
COUNTY                         object
FIPS_CODE                      object
FIPS_NAME                      object
Shape                          object
dtype: object

In [12]:
df.COUNTY.unique()

array(['63', '61', '17', '3', '5', None, '51', '91', '7', '115', '059',
       '57', '105', '15', '37', '71', '19', '73', '83', '43', '65', '53',
       '89', '29', '93', '109', '39', '33', '35', '111', '23', '27',
       '103', '9', '59', '49', '107', '11', '79', '45', '21', '99', '073',
       '065', 'Imperial', 'Santa Barbara', 'Monterey', 'Fresno', 'Nevada',
       'Placer', 'Kern', 'Inyo', 'Amador', 'Tulare', 'Madera',
       'El Dorado', 'Tuolumne', 'San Luis Obispo', 'Yuba', 'Mariposa',
       'Calaveras', 'Alameda', 'San Benito', 'Santa Clara', 'Sacramento',
       'Mono', 'Contra Costa', 'Merced', 'Riverside', 'San Diego',
       'San Bernardino', 'Los Angeles', 'Modoc', 'Shasta', 'Lassen',
       'Siskiyou', 'Butte', 'Tehama', 'Lake', 'Trinity', 'Mendocino',
       'Napa', 'Humboldt', 'Glenn', 'Colusa', 'Sonoma', 'Yolo', 'Plumas',
       'Del Norte', 'Alpine', 'San Mateo', 'Stanislaus', 'Kings',
       'Santa Cruz', 'Solano', 'Douglas', 'Sierra', 'AMADOR', 'YUBA',
       'SAN DIEGO', 'MENDOCINO', 'Orange', 'TEHAMA ', 'BUTTE',
       'SANTA BARBARA', 'STANISLAUS', 'Santa Clara (See 44)', 'Ventura ',
       'TULARE', 'SACRAMENTO/AMADOR', 'SAN BERNARDINO', 'ORANGE',
       'Orange / Riverside', 'RIVERSIDE', 'SHASTA', 'LAC', 'PLACER',
       '037', '017', '039', '029', '049', '053', '071', '089', '063',
       '091', '033', '083', '005', '051', '057', '093', '027', '035',
       '007', '079', '003', '019', '061', '009', '023', '015', '011',
       '043', '045', '021', 'KERN', 'RIVERSIDE, SAN BRDNO', 'Ventura',
       'Marin', 'LOS ANGELES', 'TUOLUMNE', 'Humbolt', 'LAKE - SONOMA',
       'MARIN', 'SANTA CLARA', 'Orange ', 'CALAVERAS', 'SAN BERNADINO',
       'SAN MATEO', 'Riverside ', 'KERN ', 'ALAMEDA', 'SAN LUIS OBISPO',
       'FRESNO', 'SONOMA', 'INYO', 'HUMBOLDT', 'TEHAMA', 'SAN JOAQUIN',
       'MONTEREY', 'MADERA', 'MERCED', 'MODOC', 'CONTRA COSTA',
       'EL DORADO', 'TRINITY', 'DEL NORTE', 'NEVADA', 'SACRAMENTO',
       'VENTURA', 'LAKE', 'SANTA CRUZ', 'GLENN', 'SAN BENITO', 'COLUSA',
       'MARIPOSA', 'SISKIYOU', 'PLUMAS', 'NAPA', 'YOLO', 'SIERRA',
       'LASSEN', 'SOLANO', 'KINGS', 'SUTTER', 'SAN FRANCISCO', 'IMPERIAL',
       'MONO', '067', 'San Diego County', 'Madera County',
       'Trinity County', 'Santa Barbara County', 'Humboldt County',
       'Monterey County', 'Kern County', 'Orange County',
       'Ventura County', 'Riverside County'], dtype=object)

In [14]:
df.to_csv('./data/cali_fires.csv', index=False)

In [15]:
df.FIRE_YEAR.unique()

array([2005, 2004, 2006, 2002, 2007, 2008, 2009, 1992, 1993, 1994, 1995,
       1996, 1997, 1998, 1999, 2000, 2001, 2003, 2010, 2011, 2012, 2013,
       2014, 2015])

In [16]:
df.STAT_CAUSE_DESCR.unique()

array(['Miscellaneous', 'Lightning', 'Debris Burning', 'Campfire',
       'Equipment Use', 'Children', 'Arson', 'Smoking', 'Railroad',
       'Fireworks', 'Structure', 'Powerline', 'Missing/Undefined'],
      dtype=object)

In [21]:
fire_date = df.DISCOVERY_DATE

In [23]:
# Date　
fire_date.head(20)

0     2453403.5
1     2453137.5
2     2453156.5
3     2453184.5
4     2453184.5
5     2453186.5
6     2453187.5
7     2453437.5
8     2453444.5
9     2453187.5
10    2453188.5
11    2453188.5
12    2453251.5
13    2453276.5
14    2453281.5
15    2453281.5
16    2453284.5
17    2453291.5
18    2453329.5
76    2453548.5
Name: DISCOVERY_DATE, dtype: float64

In [25]:
datetime.datetime(1899,12,30) + datetime.timedelta(days=2453403.5)

datetime.datetime(8617, 3, 9, 12, 0)

In [26]:
fire_date.to_csv('./data/fire_date.csv', index=False)

In [44]:
# Let's clean the data
wf = pd.read_sql_query("SELECT FIRE_YEAR,STAT_CAUSE_DESCR,LATITUDE,LONGITUDE,STATE,DISCOVERY_DATE,FIRE_SIZE,FIPS_NAME FROM 'Fires'", data)

In [45]:
wf['DISCOVERY_DATE'] = pd.to_datetime(wf['DISCOVERY_DATE'] - pd.Timestamp(0).to_julian_date(), unit='D')
wf['DISCOVERY_DATE']

0         2005-02-02
1         2004-05-12
2         2004-05-31
3         2004-06-28
4         2004-06-28
             ...
1880460   2015-09-26
1880461   2015-10-05
1880462   2015-05-02
1880463   2015-10-14
1880464   2015-03-14
Name: DISCOVERY_DATE, Length: 1880465, dtype: datetime64[ns]

In [46]:
wf['MONTH'] = wf['DISCOVERY_DATE'].dt.month
wf.head()

,FIRE_YEAR,STAT_CAUSE_DESCR,LATITUDE,LONGITUDE,STATE,DISCOVERY_DATE,FIRE_SIZE,FIPS_NAME,MONTH
0,2005,Miscellaneous,40.036944,-121.005833,CA,2005-02-02,0.10,Plumas,2
1,2004,Lightning,38.933056,-120.404444,CA,2004-05-12,0.25,Placer,5
2,2004,Debris Burning,38.984167,-120.735556,CA,2004-05-31,0.10,El Dorado,5
3,2004,Lightning,38.559167,-119.913333,CA,2004-06-28,0.10,Alpine,6
4,2004,Lightning,38.559167,-119.933056,CA,2004-06-28,0.10,Alpine,6

In [47]:
wf['DAY'] = wf['DISCOVERY_DATE'].dt.day
wf.head()

,FIRE_YEAR,STAT_CAUSE_DESCR,LATITUDE,LONGITUDE,STATE,DISCOVERY_DATE,FIRE_SIZE,FIPS_NAME,MONTH,DAY
0,2005,Miscellaneous,40.036944,-121.005833,CA,2005-02-02,0.10,Plumas,2,2
1,2004,Lightning,38.933056,-120.404444,CA,2004-05-12,0.25,Placer,5,12
2,2004,Debris Burning,38.984167,-120.735556,CA,2004-05-31,0.10,El Dorado,5,31
3,2004,Lightning,38.559167,-119.913333,CA,2004-06-28,0.10,Alpine,6,28
4,2004,Lightning,38.559167,-119.933056,CA,2004-06-28,0.10,Alpine,6,28

In [48]:
len(wf)

1880465

In [51]:
wf = wf[wf['STATE'] == 'CA']
wf['STATE'].unique()

array(['CA'], dtype=object)

In [57]:
wf.columns= wf.columns.str.lower()
wf.head()

,fire_year,stat_cause_descr,latitude,longitude,state,discovery_date,fire_size,fips_name,month,day
0,2005,Miscellaneous,40.036944,-121.005833,CA,2005-02-02,0.10,Plumas,2,2
1,2004,Lightning,38.933056,-120.404444,CA,2004-05-12,0.25,Placer,5,12
2,2004,Debris Burning,38.984167,-120.735556,CA,2004-05-31,0.10,El Dorado,5,31
3,2004,Lightning,38.559167,-119.913333,CA,2004-06-28,0.10,Alpine,6,28
4,2004,Lightning,38.559167,-119.933056,CA,2004-06-28,0.10,Alpine,6,28

In [60]:
wf = wf.rename(columns={"fire_year":"year","fips_name":"county","stat_cause_descr":"cause"})

In [61]:
wf.to_csv('./data/wildfre_cleaned.csv',index=False)